@using EntityLayer.Concrete
@model List<OurTeam>

    <div class="wrap team-wrap grey" id="team">
        <div class="grid grid-pad">
            <div class="content">
                <h2>Our Team</h2>
                @foreach (var item in Model)
                {
                    <div class="col-1-4">

                        <div class="content staff-content">

                            <div class="recent-work staff-img">
                                <div class="img-wrap staff-img">
                                    <img src="@item.Image" alt="">
                                    <div class="team-social">
                                        <a class="sl-fb" href="@item.facebook"><i class="icon-facebook"></i></a>
                                        <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                        <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                        <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="work-info staff-info">
                                    <h5>@item.TeamName</h5>
                                    <span>@item.OurTeamStatus</span>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                }
                    @*<div class="col-1-4">
                <div class="content staff-content">
                    <div class="recent-work staff-img">
                        <div class="img-wrap staff-img">
                            <img src="~/the7/images/team/user1.png" alt="">
                            <div class="team-social">
                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="work-info staff-info">
                            <h5>David Bell</h5>
                            <span>Creative Designer</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1-4">
                <div class="content staff-content">
                    <div class="recent-work staff-img">
                        <div class="img-wrap staff-img">
                            <img src="~/the7/images/team/user3.png" alt="">
                            <div class="team-social">
                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="work-info staff-info">
                            <h5>Eve Stinger</h5>
                            <span>Sales Manager</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1-4">
                <div class="content staff-content">
                    <div class="recent-work staff-img">
                        <div class="img-wrap staff-img">
                            <img src="~/the7/images/team/user4.png" alt="">
                            <div class="team-social">
                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="work-info staff-info">
                            <h5>Will Peters</h5>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>

            </div>*@
                </div>
        </div>
    </div>