
@{
    Layout = null;
}

<!Doctype html>
<!--
    The7 by TEMPLATE STOCK
    templatestock.co
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

@await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")

<body id="home">
    <!-- Header -->
    @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")

    <!-- End Header -->
    <!-- Parallax Section -->
    @RenderBody()

    <!-- Footer -->
    <!-- End Footer -->
    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")





    <!-- JS -->
    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptPartial.cshtml")

</body>
</html>

