<footer class="wrap">
    <div class="grid grid-pad">
        <div class="col-1-4">
            <div class="content">
                <div class="footer-widget">
                    <h3>About</h3>
                    <div class="textwidget">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p><br>
                        <p>Et dolore magna aliquyam erat sed diam voluptua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-4">
            <div class="content">
                <div class="footer-widget">
                    <h3>Recent Posts</h3>
                    <div class="fwidget">
                        <ul>
                            <li><a href="#0">Suspendisse nec lectus non</a></li>
                            <li><a href="#0">Phasellus euismod pulvinar</a></li>
                            <li><a href="#0">Aliquam erat volutpat</a></li>
                            <li><a href="#0">Phasellus euismod pulvinar</a></li>
                            <li><a href="#0">Aliquam erat volutpat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-4">
            <div class="content">
                <div class="footer-widget">
                    <h3>More info</h3>
                    <div class="textwidget">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                        <br>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-4">
            <div class="content">
                <div class="footer-widget">
                    <h3>Flickr Feed</h3>
                    <div class="flickr-widget">
                        <ul class="flickr-list">
                            <li><a href="#0"><img src="images/flickr-widget/flickr1.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr2.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr3.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr4.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr5.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr6.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-footer">
        <div class="grid grid-pad">
            <div class="col-1-1">
                <div class="content">
                    <div class="social-set">
                        <a href="#0"><i class="icon-facebook"></i></a>
                        <a href="#0"><i class="icon-twitter"></i></a>
                        <a href="#0"><i class="icon-linkedin2"></i></a>
                        <a href="#0"><i class="icon-dribbble4"></i></a>
                        <a href="#0"><i class="icon-instagram"></i></a>
                    </div>
                    <p class="source-org copyright">© 2016 | All Rights Reserved Created By <a href="http://templatestock.co">Template Stock</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="loader-overlay">
    <div class="loader">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>